<app-header></app-header>

<div class="container-carrito-compras">
    <div class="titulo-seccion">
        <span>Carrito de compras</span>
    </div>

    <div class="seccion-carrito-resumen d-flex">
        <div class="seccion-carrito">
            <div class="bloque-informacion">
                <span>Seguir comprando</span>
            </div>

            <app-listado-productos></app-listado-productos>
        </div>

        <div class="seccion-resumen">
            <app-resumen-compras></app-resumen-compras>
        </div>
    </div>

    <app-comprados-habitualmente></app-comprados-habitualmente>

</div>

<app-footer></app-footer>