<app-header></app-header>

<div class="container-custom-main">
    <div class="titulo-seccion">
        <span>Carrito de compras</span>
    </div>

    <div class="seccion-carrito-resumen d-flex">
        <div class="seccion-carrito">
            <div class="bloque-seguir-comprando">
                <span>Seguir comprando</span>
            </div>
            @for (producto of listadoProductosCarritoCompras; track $index) {
            <app-producto-carrito-compras [producto]="producto"></app-producto-carrito-compras>
            }
        </div>

        <div class="seccion-resumen">
            <app-resumen-compras></app-resumen-compras>
        </div>
    </div>

    <app-comprados-habitualmente></app-comprados-habitualmente>

</div>

<app-footer></app-footer>