<div class="container-general">
    <div class="container-resumen-compra">
        <div class="titulo-seccion">
            <span>Resumen de compra</span>
        </div>

        <div class="seccion-detalle">
            <div class="parte-subtotal">
                <div>
                    <span>Subtotal</span>
                    <span>(4)</span>
                </div>
                <span>$ 1000.00 MXN</span>
            </div>
            <div class="parte-envio">
                <span>Envío</span>
                <span>$ 250.00 MXN</span>
            </div>
            <div class="parte-total">
                <span>TOTAL</span>
                <span>$ 1250.00 MXN</span>
            </div>

            <button>Pagar</button>

            <div class="datos-pago">
                <span>Todas las transacciones son seguras y están encriptadas</span>
                <input placeholder="Titular de la tarjeta">
                <div>
                    <div>
                        <!-- imagen -->
                        <span>Número de tarjeta</span>
                    </div>
                    <!-- imagen -->
                </div>
            </div>
        </div>
    </div>

    <button>Compra 100% segura</button>
</div>